<div class="dashboard" [class.collapsed]="isCollapsed">
  <nav class="sidebar">
    <div class="sidebar-title">
      <button class="hamburger" (click)="toggleSidebar()">☰</button>
      @if (!isCollapsed) {
        <span>ElectricEye</span>
      }
    </div>
    <ul>
      <li routerLink="/panel-usuario/mis-camaras" routerLinkActive="active">
        <i class="fas fa-video"></i>
        @if (!isCollapsed) {
          <span>Mis Cámaras</span>
        }
      </li>
      <li routerLink="/panel-usuario/lista-asistencia" routerLinkActive="active">
        <i class="fas fa-user-check"></i>
        @if (!isCollapsed) {
          <span>Lista de Asistencia</span>
        }
      </li>
      <li routerLink="/panel-usuario/anomalias" routerLinkActive="active">
        <i class="fas fa-exclamation-triangle"></i>
        @if (!isCollapsed) {
          <span>Eventos</span>
        }
      </li>
      <li routerLink="/panel-usuario/grabaciones" routerLinkActive="active">
        <i class="fas fa-file-video"></i>
        @if (!isCollapsed) {
          <span>Capturas</span>
        }
      </li>
    </ul>
  </nav>
</div>
