<footer class="footer">
  <div class="footer-container">
    <!-- Sección de derechos -->
    <div class="footer-section">
      <p>© 2025 Electric Eye. Todos los derechos reservados.</p>
    </div>

    <!-- Sección de contacto -->
    <div class="footer-section">
      <p><strong>Correo:</strong> ElectricEye123.gmail.com</p>
      <p><strong>Soporte técnico:</strong> +52 55 1234 5678</p>
    </div>

    <!-- Sección de dirección -->
    <div class="footer-section">
      <p>Calle 2, entre Av. 7 y 18.</p>
      <p>Col. Benito Juarez #989</p>
      <p>Ver, Mex.</p>
    </div>
  </div>
</footer>
